<%= active_admin_form_for [:admin, @material] do |f|%>


  <%= f.inputs "Fabricante" do %>
    <%= f.input :manufacturer, :label => false, :input_html => {:"data-placeholder" => "Clique e selecione uma opção"} %>
  <% end %>

  <%= f.inputs "Categorias" do %>
    <% Category.where(:parent_id => nil).each do |c| %>
      <div class="category index_category parent_category">
        <h4><%= c.name %></h4>
        <div class="material_category">
          <ul class="categories">
            <%= render :partial => "categories", :locals => { :children => c.children } %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= f.inputs "Sobre o material" do %>
    <%= f.input :resume, :label => "Resumo"%>
  <% end %>

  <%= f.inputs "Informações técnicas" do %>
    <%= f.input :technical_observation, :label => "Observações Técnicas" %>
  <% end %>


  <%= f.inputs "Detalhes técnicos" do %>
    <%= f.input :density, :label => "Densidade" %>
    <%= f.input :dimensions, :label => "Dimensões" %>
    <%= f.input :packing, :label => "Embalagem" %>
    <%= f.input :average_price, :label => "Preço Médio" %>
  <% end %>

  <%= f.inputs "Imagens" do %>
    <%= f.has_many :images do |img| %>
      <%= img.input :title %>
      <%= img.input :description %>
      <%= img.input :featured %>
      <%= img.input :use_case %>
      <%= img.input :image, :as => :file %>
    <% end %>
  <% end %>
  <%= f.buttons %>


<% end %>

