<%= semantic_form_for [:admin, @material], builder: ActiveAdmin::FormBuilder do |f|%>

  <%= f.inputs do %>
    <%= f.input :draft, :label => 'Rascunho?'  %>
  <% end %>

  <%= f.inputs "Nome do material" do %>
    <%= f.input :name, :label => false %>
  <% end %>

  <%= f.inputs "Fabricante" do %>
    <%= f.input :manufacturer, :label => false, :input_html => {:"data-placeholder" => "Clique e selecione uma opção"} %>
  <% end %>

  <%= f.inputs "Categorias" do %>
    <% Category.where(:parent_id => nil).each do |category| %>
      <div class="category index_category parent_category">
        <h4><%= category.name %></h4>
        <div class="material_category">
          <ul class="categories">
            <%= render :partial => "categories", :locals => { :children => category.children } %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= f.inputs "Sobre o material" do %>
    <%= f.input :resume %>
  <% end %>

  <%= f.inputs "Informações técnicas" do %>
    <%= f.input :technical_observation %>
  <% end %>


  <%= f.inputs "Detalhes técnicos" do %>
    <%= f.input :density %>
    <%= f.input :dimensions %>
    <%= f.input :average_price %>
    <%= f.input :code %>
  <% end %>

  <%= f.inputs "Dados adicionais" do %>
    <%= f.input :ncm %>
    <%= f.input :certifications %>
    <%= f.input :awards %>
  <% end %>

  <%= f.inputs "Imagens" do %>
    <%= f.has_many :images do |img| %>
      <%= img.input :title %>
      <%= img.input :description %>
      <%= img.input :featured %>
      <%= img.input :image, as: :file %>
    <% end %>
  <% end %>

  <%= f.inputs "Anexos" do %>
    <%= f.has_many :attachments do |file| %>
      <%= file.input :name %>
      <%= file.input :file, as: :file %>
    <% end %>
  <% end %>
  <%= f.actions %>


<% end %>

